main.main .div-content {
    height: 350px;
    width: 450px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  main.main .row-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main.main .form {
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }
  
  main.main .div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main.main .title-recovery {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
  }